<div class="my-banner">
  <h1>My coktail's fabriq</h1>
  <%= link_to "Display the list", cocktails_path,class: "btn-banner" %>
  <%= link_to "Add a cocktail !", new_cocktail_path, class: "btn-banner" %>
</div>
