<div class="my-navbar <%= "hidden" if action_name == "home" %>">


  <div class="left-navbar">

    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <svg viewBox="0 0 16 16" class="bi bi-list burger-menu" fill="black" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/cocktails/new">Add a cocktail</a>
        <a class="dropdown-item" href="/">Back to home</a>
        <a class="dropdown-item" href="#">Report an error</a>
      </div>
    </div>

    <div class="search-display">
      <%= form_tag cocktails_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control index-search-bar",
          placeholder: "Aiguille-nous sur ton envie du moment ..."
        %>
        <%#= submit_tag "Rechercher", class: "search-btn" %>
        <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-search" fill="grey" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg>
      <% end %>
    </div>

  </div>

  <div class="logo-navbar">
    <%= image_tag('logo-cocktail.png', class: "logo") %>
  </div>

</div>
