<div class="my-navbar">
  <h1 class="logo">My coktail's fabriq</h1>
  <%= link_to "Display the list", cocktails_path,class: "btn-navbar" %>
  <%= link_to "Add a cocktail !", new_cocktail_path, class: "btn-navbar" %>
</div>
