.my-navbar {
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 15px 15px;
  background-color: white;
  // box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .2);
  position: sticky;
  top: 0;
  z-index: 100;
}

.left-navbar {
  display: flex;
   align-items: center;
}

.search-display > form{
  display:flex;
  align-items: center;
}

.index-search-bar {
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 22px;
  width: 400px;
}

.search-btn {
  border: none;
}

.hidden {
  display: none;
}

.logo {
  width: 115px;
}

.burger-menu {
  width:2em;
  height:2em;
}
